<div class="container ">

    <div class="d-flex bd-highlight">
        <div class="p-2 flex-grow-1">
            <img src="/assets/ibank.jpg" width="auto" height="80px">
        </div>
        <div class="p-2 bd-highlight" style="font-weight: 500;">
            <a href="/tai-khoan-doanh-nghiep/ekyc/#section1">Ưu đãi doanh nghiệp</a>
        </div>
         <div class="p-2 bd-highlight" style="font-weight: 500;">
                <a href="/tai-khoan-doanh-nghiep/ekyc/#footer">Liên hệ</a>
        </div>
        <div class="p-2 bd-highlight">
                <button class="btn btn-primary">ĐĂNG KÝ</button>
        </div>
            </div>

            <p class="text-center text-success mt-5 fs-1">Mở tài khoản doanh nghiệp</p>
            <p class="text-center text-success  fs-1">online 100%</p>
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary" routerLink="/auth/register">ĐĂNG KÝ NGAY</button>
        </div>

</div>
